<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page with Background Image</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> Sammy The Shark </h1>
  <h2> About this site <h2>
</html>
